# Virtual environment
venv/
ENV/
.venv
.env
.claude

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
__pycache__/*
*.py[cod]
*$py.class

# PyCharm specific
.idea/

# Don't include workspace-specific settings
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf

#logs, test runs files, perl files
results/Guidance/*
#logs/Guidance/*
*.log
*/.DS_Store
.DS_Store
#.idea
COS.std
script/guidance_wrapper.py
app/.env
perl/guidance_flask.pl
perl/codonAlign_flask.pm
*sav
logs/Guidance/guidance.logv2
collect_benchmark_results.py
run_auc_analysis.py
run_benchmark_all.py
run_convergence_benchmark.py