<STYLE TYPE='text/css' MEDIA=screen>

#notes  {
        color: "red";
        font-weight : 600;
        font-size : 24px;
        text-align : center;
        }
#form  { font-weight : 600; font-size : 16px;}

#table_form {
	font-weight : 600;
	font-size : 16px;
	}


#title {
	font-family : Times New Roman;
	font-weight : extra-bold;
	font-size : 16px;
	font-variant : normal;
	line-height : normal;
	text-decoration : none;
	color: white;
	text-align : left;
}

#table_form {

	border-right: solid;
	border-width:	5;
	border-left: none;
	border-right-width: thick;
	border-color: #400080;
}

#PRANK_OPTION,#CodonsTable,#GUIDANCE_WARN,#MSA_PROGRAM_GUIDANCE{display: none;}


.side_bar_links	a:link {text-decoration: none; color: white;}
.side_bar_links a:visited {text-decoration: none; color: white;}
.side_bar_links a:active {text-decoration: none}
.side_bar_links a:hover {text-decoration: none; color: white;}

.title_menu a:link {text-decoration: none;font-weight:600;color:#0033FF;}
.title_menu a:visited {text-decoration: none;font-weight:600;color:#0033FF;}
.title_menu A:active {text-decoration: none;font-weight:600;color:#0033FF;}
.title_menu A:hover {text-decoration: underline;font-weight:bold;color:#0033FF;}

#bottom_links{
    width: 100%;
    margin-left: 1%;
	color: rgb(156,80,103);
	background-color: white;
	text-align: center;
	font-size: 90%;
	}
/* bottom links */

.bottom_link a:link {text-decoration: none; color: rgb(156,80,103); }
.bottom_link a:visited {text-decoration: none; color: rgb(156,80,103); }
.bottom_link A:active {text-decoration: none}
.bottom_link A:hover {text-decoration: underline overline; color: rgb(156,80,103); }
.main-form {
	background-color: rgb(248, 249, 250);
	border-radius: 5px;
	margin-top: 20px;
}

.alert-class{
	margin: 10px 0px;
}

.select-label{
	margin-bottom: 0;
}
body {
	/*background-color: #ebf6fd;*/
	/*background-color: #f2fafc;*/
	/*background-color: ghostwhite;*/
	/*background-color: whitesmoke;*/
	/*background-color: #f0f3fa;*/
	/*background-color: rgb(221,225,236);*/
	/*background-color: rgb(163, 158, 161);*/
	background-color: rgb(218, 229, 245);
}

.header-image {
	/*border-bottom: 15px solid #d5ebfc;*/
	/*border-top: 15px solid #d5ebfc;*/
	/*border-bottom: 10px solid rgb(194, 210, 240);*/
	/*border-top: 10px solid rgb(194, 210, 240);*/
	/*border-bottom: 10px solid rgb(214, 218, 229);*/
	/*border-top: 10px solid rgb(214, 218, 229);*/
	/*border-bottom: 7px solid rgb(150, 185, 215);*/
	/*border-top: 7px solid rgb(150, 185, 215);*/
	/*border-bottom: 2px solid rgb(15, 5, 56);*/
	/*border-top: 2px solid rgb(15, 5, 56);*/
	border-bottom: 4px solid white;
	border-top: 4px solid white;
	margin-bottom: 10px;
}

.header-image img{
  	background-size: cover;
  	max-height: 200px;
	height: 100%;
	max-width: 100%;

}

.overview-text{
	margin-left: 0px;
	margin-right: 0px;
	border-left-width: thick;
	border-right-width: thick;
	text-align: justify;
}

.overview-headline{
	margin-left: 0px;
	margin-right: 0px;
}

.image-container{
	width: 100%;
}

.sticky-top-toc {
  top: 60px;
}

.overview-container{
	padding-left: 30px;
	padding-right: 30px;
}

nav[data-toggle="toc"] {
  /*top: 42px;*/
	/*left: 20px;*/
	/*margin-bottom: 42px;*/
	/*padding-left: 0px;*/
}

.btn-outline-primary-small{
	font-size: small;
}

.custom-select-results {
  display: inline-list-item;
  width: 100%;
  color: #bcbabb;
  vertical-align: middle;
  border: thick;
	border-radius:1px;
    border-color: #bcbabb;
	enable-rounded;
  }

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
	/*bottom: 10px;*/
  right: 5px;
	/*left:10px;*/

  font-size: 0.7rem;
  padding: 0.35rem;
  background-color: #e3f2fd;

  border: ridge 0.5px #e3f2fd;
  border-radius: 10px;
  /*text-shadow: #c4c4c4 0 0 2px;*/
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}


code[class*="language-"] {
/*white-space: pre-wrap;*/
/*word-break: break-all;*/
/*	word-break: normal;*/
}

pre[class*="language-"] {
  position: relative;
	overflow: auto;
  /*margin: 5px 0 ;*/
  /*padding: 1.75rem 0 1.75rem 1rem;*/
	border-radius: 10px;
  /* more stuff */
}

.text-decoration-line.no-underline {
  text-decoration: none;
}

.latest-tag {
	color: limegreen;
    border-radius: 10px;
    border-color: limegreen !important;
    border-width: 0.5px;
    font-size: 12px;
    line-height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 10px;
    font-weight: 400;
}

.code-wrap {
	background-color: rgb(248, 249, 250);
	padding: 10px 100px 10px 10px;
	margin: 0 0 0 0;
	border: ridge 1.5px #ccefff ;
	border-radius: 10px;
	border-inline-width: thin;
	text-align: left;
}

.code-style{
	text-wrap: initial;
	color: #A02560;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

</STYLE>
