{% extends 'base.html' %}

{% block body %} 

    <br><center><h2 style="text-align:left;"><font color="red" size=+2>Error:<br>
    {{ error_text|safe }}</font><br>
    Please try to re-run your job or <a href="mailto:evolseq@tauex.tau.ac.il<evolseq@tauex.tau.ac.il>;?subject=Guidance%20Support%20Request">contact us</a> for further information</h2></center>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h4 class=footer><p align='center'>Questions and comments are welcome! Please <span class="admin_link"><a href="mailto:evolseq@tauex.tau.ac.il?subject=Guidance%20Support%20Request">contact us</a></span></p></h4><div id="bottom_links"> 
    <span class="bottom_link">
    <a href="/" target="_blank">Home</a>
    &nbsp;|&nbsp
    <a href="/overview" target="_blank">Overview</a>
    &nbsp;|&nbsp;
    <a href="/gallery" target="_blank">Gallery</a>
    &nbsp;|&nbsp;
    <a href="/credits" target="_blank">Credits</a>
    </span>
    <br>
    
{% endblock %}

