{% extends 'base.html' %}

{% block body %} 
    
    Finished Jobs: {{finished_jobs_list|length}} <br>
    
    Crashed Jobs: {{count_crashed}} <br>
    
    Init jobs: {{count_init}} <br>
    
    Waiting jobs: {{waiting_jobs_list|length}} <br>
    
    Running jobs: {{running_jobs_list|length}} <br>
    
    <br><br>
    
    {% if waiting_jobs_list|length %}
    
        Waiting list:<br>
        
        {% for job in waiting_jobs_list %}
            
            {{job}}<br>
            
        {% endfor %}
        
    {% endif %}
    
    <br>
    
    {% if running_jobs_list|length %}
    
        Running jobs:<br>
        
        {% for job in running_jobs_list %}
            
            {{job}}<br>
            
        {% endfor %}
        
    {% endif %}
    
    
    {% if finished_jobs_list|length %}
    
        Finished jobs:<br>
        
        {% for job in finished_jobs_list %}
            
            {{job}}<br>
            
        {% endfor %}
        
    {% endif %}

    <script>
        
        setInterval(function(){
            window.location.reload();
        }, 30000)
        
    </script> 
    
{% endblock %}

