{% extends 'running_base.html' %}

{% block body_running %}

{% if job_state == 'FINISHED' %}

<br>
<h1 class="overview-headline" align=center><br>GUIDANCE calculation results</h1>
<h2><b>Overall results:</b></h2>
<br>

<ul>
    <li><A HREF="{{var['res_pair_res_html_file']}}" TARGET=results_Colored>MSA Colored according to the confidence
        score</A></font><br></li>
</ul>

<ul>
    <li>GUIDANCE alignment score: {{var['mean_res_pair_score']}}</font><br></li>
</ul>
<h2><b>Output Files:</b></h2>
<br>

<ul>
    <li><A HREF="{{var['Alignment_File_With_Names']}}" TARGET=MSA>MSA file</A></font><br></li>
</ul>

<ul>
    <li><A HREF="{{var['run_number']}}/{{var['Output_Prefix']}}_res_pair_col.scr" TARGET=results_res_pair_col>GUIDANCE
        column scores</A></font><br></li>
</ul>

<ul>
    <li><A HREF="{{var['Seq_Scores']}}" TARGET=results_res_pair_seq>GUIDANCE sequence scores</A></font><br></li>
</ul>

<ul>
    <li><A HREF="{{var['residue_scores']}}" TARGET=results_res_pair_res>GUIDANCE residue scores</A></font><br></li>
</ul>

<ul>
    <li><A HREF="{{var['residue_pair_scores']}}" TARGET=results_res_pair_res>GUIDANCE residue pair scores</A></font><br>
    </li>
</ul>

{% if var['mean_res_pair_score']|int < 1 %}
<ul>
    <li>
        <form enctype="multipart/form-data" action="/guidance/mask/{{var['run_number']}}" method="post">Mask specific
            residues below a certain cutoff: <input type="hidden" name="program" value="mask"/> <input type="hidden"
                                                                                                       name="run_num"
                                                                                                       value="{{var['run_number']}}"/>
            <input type="hidden" name="VARS" value="{{var['WorkingDir']}}input.data"/> <input type="hidden"
                                                                                              name="VARS_json"
                                                                                              value="{{var['WorkingDir']}}VARS.json"/>
            {{var['select_remove_site_selection_mask']|safe}} <input type="hidden" name="type_a"
                                                                     value="{{var['type_a']}}"/> <input class="btn btn-outline-primary btn-outline-primary-small" type="submit"
                                                                                                        value="Mask Residues"/>
            <font size="-1">(see <a href="/guidance/overview#Mask_RES" target="_blank">help</a></font>)
        </form>
    </li>

    <a name="masks"></a>

    {% for mask_residue in mask_residues_list %}
    <ul>
        <li><A HREF="{{var['run_number']}}/Mask_Residues_Res_{{mask_residue}}.aln" TARGET=_blank>The MSA after masking
            unreliable residues (below {{mask_residue}})</A></li>
    </ul>
    {% endfor %}


</ul></li></ul>

<ul>
    <li>
        <form enctype="multipart/form-data" action="/guidance/remove_pos/{{var['run_number']}}" method="post">
            Remove unreliable columns below confidence score <input type="hidden" name="run_num"
                                                                    value="{{var['run_number']}}">
            <input type="hidden" name="VARS" value="{{var['WorkingDir']}}input.data"/> <input type="hidden"
                                                                                              name="VARS_json"
                                                                                              value="{{var['WorkingDir']}}VARS.json"/>
            {{var['select_remove_site_selection_box']|safe}}</select>
            <input class="btn btn-outline-primary btn-outline-primary-small" type="submit" value="Remove Columns"/>
            <font size="-1">(see <a href="/guidance/overview#Remove_COL" target="_blank">help</a></font>)
        </form>
    </li>

    <a name="remove_pos"></a>

</ul>
<ul>

    <ul>{{var['remove_columns_default_line']|safe}}</ul>

    {% for remove_column in remove_columns_list %}
    <ul>
        <li>
            <A HREF="{{var['run_number']}}/{{var['dataset']}}.{{form['MSA_Program']}}.Without_low_SP_Col.{{remove_column}}"
               TARGET=_blank>The MSA after the removal of unreliable columns (below {{remove_column}})</A>
            <font size=-1> (see list of removed columns <A href="{{var['run_number']}}/{{var['SeqsFile']}}.{{var['dataset']}}.{{form['MSA_Program']}}.Removed_Col.{{remove_column}}"
                                                           target=_blank>here</A>)</font>

        </li>
    </ul>
    {% endfor %}

</ul>

<ul>
    <li>
        <form enctype="multipart/form-data" action="/guidance/remove_seq/{{var['run_number']}}" method="post">
            Remove unreliable sequences below confidence score <input type="hidden" name="run_num"
                                                                      value="{{var['run_number']}}">
            <input type="hidden" name="VARS" value="{{var['WorkingDir']}}input.data"/> <input type="hidden"
                                                                                              name="VARS_json"
                                                                                              value="{{var['WorkingDir']}}VARS.json"/>
            <input type="hidden" name="FORM" value="{{var['WorkingDir']}}form.data"/> <input type="hidden"
                                                                                             name="FORM_json"
                                                                                             value="{{var['WorkingDir']}}FORM.json"/>
            {{var['select_remove_seq_selection_box']|safe}}
            </select>
            <input class="btn btn-outline-primary btn-outline-primary-small" type="submit" value="Remove Seqs"/>
            <font size="-1">(see <a href="/guidance/overview#Remove_Seq" target="_blank">help</a></font>)
        </form>
    </li>
</ul>
<ul>

    <a name="remove_seq"></a>

    <ul>{{var['remove_seq_default_line']|safe}}</ul>

    {% for remove_sequence in remove_sequences_list %}
    <ul>
        <li>
            <a href="{{ var['run_number'] }}/{{ var['Seq_File_without_low_SP_SEQ'] }}.{{ remove_sequence }}" TARGET=_blank>
                The input sequences after the removal of unreliable sequences (with confidence score below {{ remove_sequence }})
            </a>
            <font size="-1">
                (see list of removed sequences
                <a href="{{ var['run_number'] }}/{{ var['Seq_File_without_low_SP_SEQ'] }}.{{ remove_sequence }}.With_Names" target=_blank>here</a>)
            </font>
            &nbsp;
            {% set rerun_url = '/guidance/rerun/' + var['run_number'] + '/' + var['Seq_File_without_low_SP_SEQ'] + '.' + remove_sequence + '.With_Names' %}
            <input type="button" value="Run GUIDANCE on the confidently-aligned sequences only" onclick="window.open('{{ rerun_url }}')">

            <br>
        </li>
    </ul>
    {% endfor %}

    {% else %} <!-- MSA score is 1 -> nothing to filter -->

    According to the {{form['PROGRAM']}} scores, the alignment is highly reliabile, no positions or sequences to mask or
    remove<br>

    {% endif %}

    {% if form['PROGRAM'] == 'GUIDANCE2' %}

</ul>
<ul>
    <li>
        <form enctype="multipart/form-data" action="/guidance/ConcatMSAs/{{var['run_number']}}" method="post">
            <font color=red face="Comic Sans MS">New feature </font> - Create a <b>SuperMSA</b> by concatenating the
            base MSA and {{var['SuperMSA_selection']|safe}} alternative MSAs computed by GUIDANCE2 <input type="hidden"
                                                                                                          name="run_num"
                                                                                                          value="{{var['run_number']}}"/>
            <input class="btn btn-outline-primary btn-outline-primary-small"  type="submit" value="Create SuperMSA"/></form>
    </li>
</ul>

<!-- end of SuperMSA_results_section -->

<a name="super_msa"></a>

<ul>
    {% for num_msa in super_msa_list %}
    <ul>
        <li>
            <A HREF="{{var['run_number']}}/SuperMSA_DefaultMSA_and_{{num_msa}}_Alt.fas" TARGET=_blank>The SuperMSA
                composed of the base MSA and {{num_msa}} alternative MSAs</A><br>
        </li>
    </ul>
    {% endfor %}
</ul>


<ul>

    <li><A HREF="{{var['run_number']}}/{{var['dataset']}}.{{form['MSA_Program']}}.Guidance2_AlternativeMSA.tar.gz"> The set of alternative MSAs<br></A>
    </li>
</ul>

{% endif %}

{% if form['Seq_Type'] == 'Codons' %}

<ul>
    <li><A HREF="/guidance/rerun/{{var['run_number']}}/{{var['SeqsFile_Codons']}}" TARGET=_blank> Run GUIDANCE again
        using the same sequence file<br></A></li>
</ul>

{% else %}

<ul>
    <li><A HREF="/guidance/rerun/{{var['run_number']}}/{{var['SeqsFile']}}" TARGET=_blank> Run GUIDANCE again using the
        same sequence file<br></A></li>
</ul>

{% endif %}
<br>
<hr>

{% else %}

<br>
<center><h2 style="text-align:left;"><font color="red">{{var['error_msg']}}:</font><br>Please try to re-run your job or
    <a href="mailto:{[var['admin_email']}}?subject='Guidance Run Number {{var['run_number']}}'">contact us</a> for
    further information</h2></center<br><br>

{% endif %}

{% endblock %} 
