{% extends 'base.html' %}

{% block head %}


<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

<TITLE>GUIDANCE Run - {{form['JOB_TITLE']}} Number: {{var['run_number']}}</TITLE>

<style type="text/css">
    #menu {
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 700;
    }

    ul.in_progress,
    ul.finished {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    ul.in_progress li,
    ul.finished li {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    ul.in_progress li::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        background: url('{{url_for('static',filename="images/pending.svg")}}') center/contain no-repeat;
    }

    ul.finished li::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        background: url('{{url_for('static',filename="images/check_circle.svg")}}') center/contain no-repeat;
    }
</style>

<!--<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/guidance.css')}}">

<script src="{{url_for('static',filename='js/jquery-1.7.2.min.js')}}"></script> -->

{% endblock %}


{% block body %}

<body data-spy="scroll" data-bs-target="#toc">
<div class="container">
    <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
            <nav id="toc" data-toggle="toc" class="sticky-top sticky-top-toc"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9 main-form overview-container">

            <h1 class="overview-headline" align=center><br> GUIDANCE3 Job Status</h1>
            <div class="alert-class">
                {% if job_state == 'RUNNING' %}
                <div class="alert alert-warning text-center" role="alert">
                    <p style="font-size:30px; color:darkslategrey">{{job_state}}</p>
                </div>
                {% endif %}
                {% if job_state == 'FINISHED' %}
                <div class="alert alert-success text-center" role="alert">
                    <p style="font-size:30px; color:darkslategrey">{{job_state}}</p>
                </div>
                {% endif %}
                {% if job_state == 'FAILED' %}
                <div class="alert alert-danger text-center" role="alert">
                    <p style="font-size:30px; color:darkred">{{job_state}}</p>
                </div>
                {% endif %}


            </div>
            <!--    <blockquote>-->

            <p><font face=Verdana size=2>
                GUIDANCE is now processing your request.<br>

                <br>This page will be automatically updated every 30 seconds. You can also reload it manually.<br>
                Once the job has finished, several links to the output files will appear below.
                <br><br>
                If you wish to view these results at a later time without recalculating
                them, please bookmark this page. The results will be kept in the server for one month.

            </font></p>

            <h4>Running Parameters</h4>
            <p>
                Job title:<b>{{form['JOB_TITLE']}}<br></b>
                {{var['sequences_link']|safe}}
                Number of sequences analyzed: {{var['NumOfSeq']}}<br>
                MSA Algorithm: {{{'MAFFT_LINSI': 'MAFFT L-INS-i'}.get(form['MSA_Program'], form['MSA_Program'])}}<br>
                {% if var['align_param'] != '' %}
                Advanced Alignment Parameters: {{var['align_param']}}<br>
                {% endif %}

                {% if form['PROGRAM'] == 'GUIDANCE' %}
                Number of bootstrap repeats: {{form['Bootstraps']}}<br>
                {% endif %}

                {% if form['PROGRAM'] == 'GUIDANCE3' %}
                Number of alternative guide-trees: {{form['Bootstraps']}}<br>
                {% if form.get('disable_convergence') %}
                Convergence: disabled ({{form['Bootstraps']}} guide-trees &times; 4 = {{form['Bootstraps']|int * 4}} alternative alignments will be generated)<br>
                {% else %}
                Convergence: enabled (stops early when scores stabilise)<br>
                {% endif %}
                {% endif %}

                Method: {{form['PROGRAM']}}<br>
            </p></font>

            {% if var['warning_messages'] != '' %}
            {{var['warning_messages']|safe}}
            {% endif %}

            {% if runtime_warnings != '' %}
            {{runtime_warnings|safe}}
            {% endif %}

            <h4>Running Progress</h4>
            <div id='includedContent'>{{ progress_report|safe }}</div>

            {% block body_running %} {% endblock %}

            <h4 class=footer><p align='center'><br> Questions and comments are welcome! Please <span class="admin_link"><a
                    href="mailto:evolseq@tauex.tau.ac.il?subject=Guidance%20Run%20Number%20{{var['run_number']}}">contact us</a></span>
            </p></h4>
            <div id="bottom_links">
            </div>
        </div>
    </div>
</div>
<br>
<br>
</body>

{% endblock %} 
